* {
    margin: 0;
}

body {
    background-color: teal;
}

#button {
    background-color: tomato;
    padding: 10px;
    border-radius: 5px;
    position: relative;

}

#defaultBar {
    width: 300px;
    position: relative;
    background-color: white;
    height: 10px;
}

#progressBar {
    position: absolute;
    height: 10px;
    background-color: rgb(4, 146, 218);
    width: 0px;
}
